<% user_upvoted = @user.upvotes.count - @user.requests.count %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><%= @user.slug %>
          <span class="pull-right"><i>joined on <%= @user.created_at.to_date %></i></span></h3>
        </div>
        <div class="panel-body">
          <%= @user.slug %> has <%= link_to "#{@user.requests.count} requests", requests_path({"by" => @user}, class: 'link') %>
          <% if user_upvoted > 1 %>
            and interested in other <%= link_to "#{user_upvoted} requests", requests_path({"interested" => @user}), class: 'link' %>.
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
