<%= form_for @request, :html => {:class => 'form-control'} do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.text_field :name, placeholder: "Library Name / Request name", class: 'form-control', required: true %>
    <br />
    <%= f.text_field :url, placeholder: "Library URL (github)", class: 'form-control', required: true%>
    <br />
    <%= f.text_area :description, placeholder: "Give a short description why the port or about the library", class: 'form-control', required: true %>
    <br />
    <%= f.select "from_language_id", options_for_select(@languages.collect{|c| [c.name, c.id]}, @languages), class: 'form-control', required: true %>&nbsp;
    To: <%= f.select "to_language_id", options_for_select(@languages.collect{|c| [c.name, c.id]}, @languages), class: 'form-control', required: true%>
    <br /><br />
    <%= f.submit class: "btn btn-primary" %>&nbsp;&nbsp;<%= link_to 'Cancel', requests_path, class: 'btn btn-default' %>
<% end %>
