<% upvotes = @request.upvotes.reject{|u| u.user == @request.user } %>
<% if upvotes.present? %>
  <p><i><%= upvotes.count %> people are also interested in this..</i></p>
  <% upvotes.each do |upvote| %>
    <i><%= link_to upvote.user.slug, upvote.user, class: 'link' %> showed interest on this <%= time_ago_in_words upvote.updated_at %> ago.</i><br />
  <% end %>
<% end %>
<hr />
<i><%= link_to @request.user.slug, @request.user, class: 'link' %> requested this <%= time_ago_in_words @request.created_at %> ago.</i>

