<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <div class="panel panel-primary">
        <div class="panel-body">
          <% @requests.each do |req| %>
            <div class="panel panel-default">
              <div class="panel-body">
                <h5><%= link_to req.name, req %></h5>
                <%= req.description %>
              </div>
              <div class="panel-footer">
                <%= req.from_language.name %> -> <%= req.to_language.name %>&nbsp; | &nbsp;
                <%= req.upvotes.count %> people want this &nbsp; | &nbsp;
                <% if @upvoted_requests.present? and @upvoted_requests.include? req.id %>
                  <%= link_to "I don't want this", upvote_request_path(req) %>
                <% else %>
                  <%= link_to "I too want this", upvote_request_path(req) %>
                <% end %>
                <div class="pull-right">
                  created by <%= req.user.github_username %> <%= time_ago_in_words req.created_at %> ago
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel">
        <div class="panel-body">
          <% if user_logged_in? %>
            Howdy!
          <% else %>
            <p>
            dumat is web tool where you can request for open source
            library ports from one language to the other. Or can request
            for a new library altogether.
            </p>

            <hr />
            <b>How it Works:-</b>
            <ol>
              <li>You create a Request for a library port.</li>
              <li>People who also wants a similar port upvotes it.</li>
              <li>People who want to work on the port Volunteer it and start working.</li>
            </ol>

            Note: Many people can volunteer the same request.
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <% if user_logged_in? %>
        <%= link_to 'New Request', new_request_path, class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>
