<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <div class="panel panel-primary">
        <div class="panel-body">
          <% @requests.each do |req| %>
            <div class="panel panel-default">
              <div class="panel-body">
                <h5><%= link_to req.name, req, class: 'link' %></h5>
                <%= req.description %>
              </div>
              <div class="panel-footer">
                <%= link_to req.from_language.name, requests_path(@options.merge("from" => req.from_language)), class: 'link' %> ->
                <%= link_to req.to_language.name, requests_path(@options.merge("to" => req.to_language)), class: 'link' %>&nbsp; | &nbsp;
                <span class="upvotes-count"><%= req.upvotes.count %></span> people want this &nbsp; | &nbsp;
                <% if @upvoted_requests.present? and @upvoted_requests.include? req %>
                  <%= link_to "I don't want this", upvote_request_path(req), data: {allow: user_logged_in?}, class: 'link upvote-btn' %>
                <% else %>
                  <%= link_to "I too want this", upvote_request_path(req), data: {allow: user_logged_in?}, class: 'link upvote-btn' %>
                <% end %>
                <div class="pull-right">
                  <i>by <%= link_to req.user.slug, req.user, class: 'link' %></i>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="panel">
        <div class="panel-body">
          <% if user_logged_in? %>
            <p><i>Projects you are interested in..</i></p>
            <% @upvoted_requests.each do |ureq| %>
              <p>
              <%= link_to ureq.name, ureq, class: 'link' %> - from <%= ureq.from_language.name %> to
              <%= ureq.to_language.name %></p>
            <% end %>
          <% else %>
            <p>
            dumat is web tool where you can request for open source
            library ports from one language to the other. Or can request
            for a new library altogether.
            </p>

            <hr />
            <b>How it Works:-</b>
            <ol>
              <li>You create a Request for a library port.</li>
              <li>People who also wants a similar port upvotes it.</li>
              <li>People who want to work on the port Volunteer it and start working.</li>
            </ol>

            Note: Many people can volunteer the same request.
          <% end %>
        </div>
      </div>
    </div>

    <div class="col-md-2">
      <% if user_logged_in? %>
        <%= link_to 'New Request', new_request_path, class: 'btn btn-default' %>
      <% end %>
    </div>
  </div>
</div>
