<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @request.name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @request.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<p>
  <strong>From Language:</strong>
  <%= @request.from_language.name %>
</p>

<p>
  <strong>To Language:</strong>
  <%= @request.to_language.name %>
</p>

<p>
  <strong>Total upvotes</strong>
  <%= @request.upvotes.count %>
</p>

<% if user_logged_in? %>
  <td><%= link_to 'Upvote', upvote_request_path(@request)%></td> |
<% end %>
<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
