<% upvote_msg = @request.upvoted_by?(current_user) ? "I don't want this" : "I too want this" %>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p id="notice"><%= notice %></p>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title"><%= @request.name %>
          <div class="pull-right"><%= link_to @request.from_language.name, requests_path({"from" => @request.from_language}), class: 'link' %> To
          <%= link_to @request.to_language.name, requests_path({"to" => @request.to_language}), class: 'link' %></div>
          </div>
        </div>
        <div class="panel-body">
          <p><i class="fa fa-external-link"></i> <a href=<%= @request.url %> class="link"><%= @request.url %></a></p>
          <hr />
          <%= @request.description %>
        </div>
        <div class="panel-footer">
          <span class="upvotes-count"><%= @request.upvotes.count %></span> people want this
          &nbsp; | &nbsp;
            <%= link_to upvote_msg, upvote_request_path(@request), data: {allow: user_logged_in?}, class: 'upvote-btn link' %>
          <% if user_logged_in? and @request.user == current_user %>
            <div class="pull-right">
              <a href=<%= edit_request_path(@request) %> class='link'><i class="fa fa-pencil"></i></a>&nbsp; | &nbsp;
              <%= link_to ('<i class="fa fa-trash-o"></i>').html_safe,  @request,  method: :delete, data: { confirm: 'Are you sure?' }, class: 'link' %>
            </div>
          <% end %>
        </div>
      </div>
      <%= render 'people_panel'%>
    </div>
  </div>
</div>
